<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
  </head>
  <body>
    <!-- AB Data use kro EJS me -->

    <!-- Include Header Partials in Page -->
    <%- include("partials/header") %>

    <p>This page is is now dynamic 🎉</p>

    <!-- Include Footer Partials in Page -->
    <%- include("partials/footer") %>
  </body>
</html>
